.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

input[type="file"] {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

#skillsContainer {
    margin-top: 10px;
}

.skillInput {
    margin-bottom: 5px;
}
